@model GameScreenViewModel
@{
    ViewData["Title"] = "Game";
}

@if (Model.GameStage > 2)
{
    @if (Model.GameStage == 3)
    {
        <partial name="_LoseScreen" model="@Model" />
    }
    else if (Model.GameStage == 4)
    {
        <partial name="_WinScreen" model="@Model" />
    }
}
else
{
    <div class="d-flex justify-content-between">
        <div class="text-center">
            <h5 class="mb-2">Tracking Grid</h5>
            <small class="text-danger">@Model.TrackingMessage</small>
            @if (Model.GameStage == 1)
            {
                <partial name="_PlaceShipsForm" model="@Model" />
            }
            <partial name="_PlayerGrid" model="@Model" />
            <a asp-controller="Home" , asp-action="HandleGameStart" class="btn btn-sm btn-danger">Reset</a>
        </div>
        <div class="text-center">
            <h5 class="mb-2">Primary Grid</h5>
            <small class="text-danger">@Model.PrimaryMessage</small>
            @if (Model.GameStage == 2)
            {
                <partial name="_TargetForm" />
                <partial name="_TurnDisplay" model="@Model" />
            }
            <partial name="_AIGrid" model="@Model" />
            <partial name="_RulesModal" />
        </div>
    </div>
}
