@model GridViewModel
@{
    ViewData["Title"] = "Game";
}

<div class="d-flex justify-content-between pt-2 mb-0 pb-0">
    <div class="text-center">
        <h5 class="mb-1">Tracking Grid</h5>
        <small class="text-danger">@Model.PlayerMessage</small>
        @if (Model.ValidShips.Count > 0)
        {
            <partial name="_FormPlaceShips" model="@Model" />
        }
        <hr />
        <partial name="_GridPlayer" model="@Model" />
    </div>
    <div class="text-center">
        <h5 class="mb-2">Primary Grid</h5>
        <small class="text-danger">@Model.AIMessage</small>
        @if (Model.ValidShips.Count == 0)
        {
            <partial name="_FormFire" model="@Model" />
        }
        <hr />
        <partial name="_GridAI" model="@Model" />
    </div>
</div>
<div class="d-flex justify-content-center pb-0 mb-0">
    <a asp-controller="Home" asp-action="Reset" class="btn btn-danger">Reset</a>
</div>